/*
 * Globals
 */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */
body {
  font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Squada One', sans-serif;
}

h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.btn-lightdarkmode {
  background-color: transparent;
}

/*
 * Header
 */
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

/* 
 * Home page 
 */

.cover-container {
  max-width: 42em;
}

.cover-main h1 {
  font-size: calc(200% + 1vw + 1vh);
}

.bgimage {
  z-index: -1;
  margin-bottom: 2.5rem;
}


/*
* btcicon
*/

.btcicon {
  display: inline-block;
  line-height: 1;
  width: 100%;
  height: 60px;
}

/* colorscheme dark */

.colorscheme-dark {
  color: #fff;
  background-color: #2d2f2a;
}

.colorscheme-dark h4 {
  color: #ffd916;
}

.colorscheme-dark .btcicon {
  color: #ffd916;
}

.colorscheme-dark .nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
}

.colorscheme-dark .nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.colorscheme-dark .nav-masthead .nav-link:hover,
.colorscheme-dark .nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.colorscheme-dark .flip {
  visibility: visible;
} 
.colorscheme-dark .flop {
  visibility: hidden;
} 

.colorscheme-dark a {
  color:#ffd916;
  text-decoration: none; 
}

.colorscheme-dark a:hover, .colorscheme-light a:focus {
  color:#fff;
  text-decoration: underline; 
}

.colorscheme-dark footer a {
  color:#ddd;
}
.colorscheme-dark footer a:hover {
  color:#ddd;
  text-decoration: underline; 
}


.colorscheme-dark .btn-primary {
  background-color:#fff;
  border-width: 1;
  border-color: #6c757d;
  color: #ccad11;
}

.colorscheme-dark .btn-primary:hover{
  background-color:#6c757d;
}

/* colorscheme light */

.colorscheme-light {
  color: #0e182c;
  background-color: #ffd916;
}

.colorscheme-light h4 {
  color: #fff;
}

.colorscheme-light .btcicon {
  color: #fff;
}

.colorscheme-light .nav-masthead .nav-link {
  color: rgba(0, 0, 0, .5);
}

.colorscheme-light .nav-masthead .active {
  color: #000;
  border-bottom-color: #000;
}

.colorscheme-light .nav-masthead .nav-link:hover,
.colorscheme-light .nav-masthead .nav-link:focus {
  border-bottom-color: rgba(0, 0, 0, .25);
}

.colorscheme-light .flip {
  visibility: hidden;
} 
.colorscheme-light .flop {
  visibility: visible;
} 

.colorscheme-light a {
  color:rgb(122, 9, 117);
  text-decoration: none; 
}

.colorscheme-light a:hover, .colorscheme-light a:focus {
  color:#0e182c;
  text-decoration: underline; 
}

.colorscheme-light footer a {
  color:#ddd;
}
.colorscheme-light footer a:hover {
  color:#ddd;
  text-decoration: underline; 
}

.colorscheme-light .btn-primary {
  background-color:#fff;
  border-width: 1;
  border-color: #6c757d;
}

.colorscheme-light .btn-primary:hover{
  background-color:#6c757d;
}

/* both color schema */

.colorscheme-light main, .colorscheme-light main a:hover, .colorscheme-dark main, .colorscheme-dark main a:hover {
  text-decoration: none; 
}

